.address-clients__close-btn {
    background-image: url(../../../images/close_btn.svg);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    display: none;
    outline: none;
    z-index: 3;
    right: 70px;
    top: -40px;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
    .address-clients__close-btn {
        right: 22px;
    }
}